<!DOCTYPE html>
<html>
    <head><title>Critica</title></head>
    
    <style>
    .button-class {
            background-color: #3E4A94;
            color: white;
            padding: 20px 40px;
            border-radius: 15px;
    }

    div{
        width:15%;
        display: inline-block;
        margin: 1%;
    }
    </style>

    <body>
        <h1 style="margin-bottom:40%;">
            Welcome to Critica</h1>


        <div>
            <a href="login.html" class="button-class">Log in</a>
        </div>
        
        <div>
            <a href="signup.html" class="button-class">Sign up</a>
        </div>




    </body>





</html>